name: Test Stacks valid
# On a PR to the main branch or via manual execution this workflow will 
# Synth the CloudFormation templates from the typescript cdk run jests tests
# against the resultant files and confirm they contain the expected resources.

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: cdk synth
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'synth'
          cdk_version: '2.83.1'
          working_dir: 'cdk.out'
          cdk_stack: DynatraceMonitoringRoleStack
          actions_comment: false
      - name: Run Checkov action
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: cdk.out/
          framework: cloudformation
          skip_check: CKV_AWS_107,CKV_AWS_111
