name: Publish Stack Set to Service Catalog
# On a relase via manual execution this workflow will 
# Synth the CloudFormation templates from the typescript cdk run jests tests
# against the resultant files and confirm they contain the expected resources.
# The Synth will run again and if a difference is found they will update the
# Service Catalog Stack Set. 

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.0'
      - name: Install node dependencies
        run: npm ci
      - name: Run Jest Tests
        run: npm test

  validate:
    runs-on: ubuntu-latest
    needs: 
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: cdk synth
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'synth'
          cdk_version: '2.81.0'
          working_dir: 'cdk.out'
      - name: Run Checkov action
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: cdk.out/
          framework: cloudformation
          skip_check: CKV_AWS_107,CKV_AWS_111

  update:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    needs: 
      - validate
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: cdk synth
        uses: youyo/aws-cdk-github-actions@v2
        with:
          cdk_subcommand: 'synth'
          cdk_version: '2.81.0'
          working_dir: 'cdk.out'
      - name: Hyphenate Version
        id: hyphenate-version
        run: |
          VERSION=${{ github.event.release.tag_name }}
          RELEASE=$(echo $VERSION | sed s/\\./-/g)
          echo "release=$RELEASE" >> "$GITHUB_OUTPUT"
      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.DT_GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2
      - name: Get previous stackset
        id: previous_stack_set
        run: |
          PREVIOUS=$(aws cloudformation list-stack-sets --status ACTIVE --query "Summaries[*].StackSetName" | \
          grep di-devplat-obv-dynatrace-iam | sed -e 's/^[ \t]*//' | tr -d '"')
          echo "name=$PREVIOUS" >> "$GITHUB_OUTPUT"
        env:
          AWS_DEFAULT_REGION: eu-west-2
      - name: Account ids
        id: account_ids
        run: |
          ACCOUNT_IDS=$(aws cloudformation list-stack-instances --stack-set-name ${{ steps.previous_stack_set.outputs.name }} --query "Summaries[*].Account" | jq -c . | sed -e 's/,/ /g' | tr -d '[]')
          echo "ids=$ACCOUNT_IDS" >> "$GITHUB_OUTPUT"
      - name: Create Stack Set
        run: |
          aws cloudformation create-stack-set --stack-set-name di-devplat-obv-dynatrace-iam-${{ steps.hyphenate-version.outputs.release }} \
          --template-body file://cdk.out/DynatraceMonitoringRoleStack.template.json \
          --description 'Stack set that grants Dynatrace permission to pull metrics' \
          --capabilities CAPABILITY_IAM \
          --administration-role-arn arn:aws:iam::684469894301:role/AWSCloudFormationStackSetAdministrationRole \
          --execution-role-name AWSCloudFormationStackSetExecutionRole \
          --tags Key=Product,Value='GOV.UK Sign In' Key=System,Value=Observability Key=Environment,Value=production \
          Key=Owner,Value='platform-and-sre-pod@digital.cabinet-office.gov.uk' Key=Service,Value=dynatrace
        env:
          AWS_DEFAULT_REGION: eu-west-2
      - name: Create new and delete old stack instances and delete old stack set
        run: |
          aws cloudformation create-stack-instances --stack-set-name di-devplat-obv-dynatrace-iam-${{ steps.hyphenate-version.outputs.release }} --regions eu-west-2 --accounts ${{ steps.account_ids.outputs.ids }}
          aws cloudformation delete-stack-instances --stack-set-name ${{ steps.previous_stack_set.outputs.name }} --regions eu-west-2 --accounts ${{ steps.account_ids.outputs.ids }} --no-retain-stacks
          aws cloudformation delete-stack-set --stack-set-name ${{ steps.previous_stack_set.outputs.name }}
